[submodule "other/spdlog"]
	path = 3rd_party/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "other/serialport"]
	path = 3rd_party/serialport
	url = https://github.com/Mregussek/SerialPort
[submodule "other/imgui"]
	path = 3rd_party/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "other/MARMaths"]
	path = 3rd_party/MARMaths
	url = https://github.com/Mregussek/MARMaths.git
[submodule "other/ImGuizmo"]
	path = 3rd_party/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo.git
[submodule "3rd_party/pybind11"]
	path = 3rd_party/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "3rd_party/ImGuiColorTextEdit"]
	path = 3rd_party/ImGuiColorTextEdit
	url = https://github.com/BalazsJako/ImGuiColorTextEdit.git
